.nav {
  @mixin container;
  position: absolute;

  z-index: 100;
  background-color: white;

  @media (min-width: 768px) {
    position: relative;
    margin-top: 25px;
    border-top: 1px solid #dbddde;
  }
}

.nav__list {
  @mixin margin-reset;
  margin-top: 20px;
  list-style: none;

  font-size: 0;
  line-height: 0;

  @media (min-width: 768px) {
    margin-left: 15px;
    margin-top: 0;
  }

  @media (min-width: 1023px) {
    margin-left: 100px;
  }
}

.nav__item-list {
  display: block;

  @media (min-width: 768px) {
    display: inline-block;
    vertical-align: top;
  }
}

.nav__link {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid #aeaeae;

  text-decoration: none;
  text-align: center;

  color: black;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;

  @media (min-width: 768px) {
    border: none;
  }
}

.nav__link--active {
  color: white;
  background-color: #3c4148;
  cursor: pointer;
}

.nav__link:hover {
  color: white;
  background-color: #f29700;
}
