.services {
  @mixin container;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;

  font-size: 0;
  line-height: 0;
}

.services__container {
  @media (min-width: 768px) {
    margin: 0 22px;
  }

  @media (min-width: 1023px) {
    margin: 0 34px;
  }

  @media (min-width: 1280px) {
    margin: 0 50px;
  }
}

.services__card {
  display: block;
  padding: 50px 10px 45px 110px;

  background-repeat: no-repeat;
  background-position: 15% 50%;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #3c4148;

  @media (min-width: 768px) {
    display: inline-block;
    vertical-align: middle;
    padding: 50px 20px 45px 60px;
    background-position: 10% 50%;

    font-size: 13px;
    line-height: 15px;
  }
}

.services__card:hover {
  background-color: #eee;

  @media (min-width: 768px) {
    outline: 1px solid #e6e6e6;
  }
}

.services__building {
  background-image: url("../img/engineering-icon.png");
  background-size: 27px 42px;
}

.services__engineering {
  background-image: url("../img/building-icon.png");
  background-size: 36px 37px;

  @media (min-width: 768px){
    background-position: 5% 50%;
  }
}

.services__expert {
  background-image: url("../img/expert-icon.png");
  background-size: 26px 36px;
}

.services__service {
  background-image: url("../img/service-icon.png");
  background-size: 36px 34px;
}

.services__test {
  background-image: url("../img/test-icon.png");
  background-size: 31px 40px;
}
