.services {
  @mixin container;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;

  font-size: 0;
  line-height: 0;
}

.services__container {
  margin: 0 35px;
}

.services__card {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;

  text-decoration: none;
  color: #3c4148;
}

.services__card:hover {
  background-color: #eee;
  outline: 1px solid #e6e6e6;
}

.services__img {
  display: inline-block;
  vertical-align: middle;
}

.services__text {
  @mixin margin-reset;
  display: inline-block;
  vertical-align: middle;

  /*width: 130px;*/
  padding-left: 15px;
  padding-top: 48px;
  padding-bottom: 45px;

  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}
